<a href="https://colab.research.google.com/github/dilaraesmer/Akbank-Python-Bootcamp/blob/main/Analysis_of_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Algorithm Analysis:

1-Best case 

2-Worst case

3-Average case

In [ ]:
# Tuple
a = (1,2,3,4,4,4,4)
type(a)

tuple

In [ ]:
a.count(4)

4

In [ ]:
a.index(3)

2

In [ ]:
a = (1,2,3,4,5,6,7,8,9)
a[4]

5

In [ ]:
a[-2]

8

In [ ]:
list_exp = [1,2,3,4]
list_exp[0] = 2

In [ ]:
list_exp

[2, 2, 3, 4]

In [ ]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# ERROR 
# 'tuple' object does not support item assignment
a[0] = 3

TypeError: ignored

In [ ]:
a = {
    "Python" : 234,
     "C++" : 89,
     "Java" : 34
}
type(a)

dict

In [ ]:
empty_dict = {}
type(empty_dict)

dict

In [ ]:
a = {1,2,3,4}
type(a)

set

In [ ]:
empty_set = set()
type(empty_set)

set

In [ ]:
s2 = {1,2,3,4,5,5,5,5,6,7,8,8,9}
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
2 in s2

True

In [ ]:
tuple1 = (1,2,3,4,5)
tuple1[0]

1

In [ ]:
# ERROR 
# 'type' object does not support item assignment
tuple[5] = 0

TypeError: ignored

In [ ]:
# ERROR
# 'set' object does not support item assignment
s2[5] = 132

TypeError: ignored

In [ ]:
s2.add('de')
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'de'}

In [ ]:
def print_bootcamp_participant():
  print("We are glad you are here ! :)")

In [ ]:
print_bootcamp_participant()

We are glad you are here ! :)

In [ ]:
def print_return():
  print("We are glad you are here ! :)")

In [ ]:
print_return()

We are glad you are here ! :)

In [ ]:
def parameter_func(name):
  return "Hello " + name + "I am 100 years old " + "You're old but gold "

In [ ]:
parameter_func("Dilara ")

"Hello Dilara I am 100 years old You're old but gold "

In [ ]:
parameter_func("Deniz ")

"Hello Deniz I am 100 years old You're old but gold "

In [ ]:
sum([1,2,3,4,5])

15

In [ ]:
list1 = [1,2,3,4,5]
result = 0

for i in list1:
  result += i
  print(result)

1
3
6
10
15

In [ ]:
def sum_list(list1):
  result = 0
  for i in list1:
    result += i
  print(result)

In [ ]:
sum_list(list1)

15

In [34]:
# Sum of squares of numbers 0 to n
def square_sum(n):
  result = 0
  for x in range(1, n+1):
    result = result + x ** 2
  return result

In [39]:
list = [1,2,3,4,37,24,46,78]
list.sort() # Timsort
list

[1, 2, 3, 4, 24, 37, 46, 78]

In [35]:
square_sum(5)

55

In [36]:
def square_sum2(n):
  return n * (n + 1) * (2 * n + 1) / 6

In [37]:
square_sum2(5)

55.0