<a href="https://colab.research.google.com/github/dilaraesmer/Akbank-Python-Bootcamp/blob/main/Analysis_of_Algorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Types of Algorithm Analysis:

1-Best case 

2-Worst case

3-Average case

In [20]:
# Tuple
a = (1,2,3,4,4,4,4)
type(a)

tuple

In [21]:
a.count(4)

4

In [22]:
a.index(3)

2

In [23]:
a = (1,2,3,4,5,6,7,8,9)
a[4]

5

In [24]:
a[-2]

8

In [ ]:
list_exp = [1,2,3,4]
list_exp[0] = 2

In [ ]:
list_exp

[2, 2, 3, 4]

In [ ]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
# ERROR 
# 'tuple' object does not support item assignment
a[0] = 3

In [25]:
a = {
    "Python" : 234,
     "C++" : 89,
     "Java" : 34
}
type(a)

dict

In [26]:
empty_dict = {}
type(empty_dict)

dict

In [28]:
a = {1,2,3,4}
type(a)

set

In [29]:
empty_set = set()
type(empty_set)

set

In [30]:
s2 = {1,2,3,4,5,5,5,5,6,7,8,8,9}
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
2 in s2

True

In [32]:
tuple1 = (1,2,3,4,5)
tuple1[0]

1

In [33]:
# ERROR 
# 'type' object does not support item assignment
tuple[5] = 0

TypeError: ignored

In [34]:
# ERROR
# 'set' object does not support item assignment
s2[5] = 132

TypeError: ignored

In [35]:
s2.add('de')
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'de'}

In [36]:
def print_bootcamp_participant():
  print("We are glad you are here ! :)")

In [37]:
print_bootcamp_participant()

We are glad you are here ! :)

In [38]:
def print_return():
  print("We are glad you are here ! :)")

In [39]:
print_return()

We are glad you are here ! :)

In [40]:
def parameter_func(name):
  return "Hello " + name + "I am 100 years old " + "You're old but gold "

In [41]:
parameter_func("Dilara ")

"Hello Dilara I am 100 years old You're old but gold "

In [42]:
parameter_func("Deniz ")

"Hello Deniz I am 100 years old You're old but gold "

In [43]:
sum([1,2,3,4,5])

15

In [44]:
list1 = [1,2,3,4,5]
result = 0

for i in list1:
  result += i
  print(result)

1
3
6
10
15

In [ ]:
def sum_list(list1):
  result = 0
  for i in list1:
    result += i
  print(result)

In [45]:
sum_list(list1)

15

In [ ]:
# Sum of squares of numbers 0 to n
def square_sum(n):
  result = 0
  for x in range(1, n+1):
    result = result + x ** 2
  return result

In [ ]:
list = [1,2,3,4,37,24,46,78]
list.sort() # Timsort = merge sort & insertion sort
list

[1, 2, 3, 4, 24, 37, 46, 78]

In [ ]:
square_sum(5)

55

In [ ]:
def square_sum2(n):
  return n * (n + 1) * (2 * n + 1) / 6

In [ ]:
square_sum2(5)

55.0

## Big-O Notation

In [47]:
a = [2,3,4]
b = [3,2,4]
c = [3,4,2]