<a href="https://colab.research.google.com/github/dilaraesmer/Akbank-Python-Bootcamp/blob/main/TensorFlow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import tensorflow as tf

TensorFlow provides software engineers and data scientists with a tool to build, train and work with deep learning models to draw predictions from data.

https://builtin.com/data-science/tensorflow

In [ ]:
# define the model 
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_shape=(8,), activation = 'relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Import Data

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('Churn.csv')

In [ ]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [ ]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
6466,0,59,20.60,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2798,0,3,100.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4225,0,71,19.60,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6160,0,2,20.50,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4965,0,26,74.95,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_train.head()

6466    0
2798    1
4225    0
6160    0
4965    1
Name: Churn, dtype: int64

1- Import Dependencies

In [ ]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

2- Build and Compile Model

In [ ]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [23]:
model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

3- Fit, Predict and Evaluate

In [ ]:
model.fit(X_train, y_train, epochs=200, batch_size=32)

Epoch 1/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4222 - accuracy: 0.7995
Epoch 2/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4223 - accuracy: 0.7968
Epoch 3/200
177/177 [==============================] - 1s 7ms/step - loss: 0.4198 - accuracy: 0.8011
Epoch 4/200
177/177 [==============================] - 1s 8ms/step - loss: 0.4224 - accuracy: 0.7991
Epoch 5/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4214 - accuracy: 0.8027
Epoch 6/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4225 - accuracy: 0.8005
Epoch 7/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4211 - accuracy: 0.7986
Epoch 8/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4218 - accuracy: 0.7991
Epoch 9/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4245 - accuracy: 0.7966
Epoch 10/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4240 - accuracy: 0.7991
Epoch 11/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4193 - accuracy: 0.8043
Epoch 12/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4216 - accuracy: 0.7979
Epoch 13/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4228 - accuracy: 0.7977
Epoch 14/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4212 - accuracy: 0.7965
Epoch 15/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4235 - accuracy: 0.7984
Epoch 16/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4210 - accuracy: 0.7998
Epoch 17/200
177/177 [==============================] - 1s 8ms/step - loss: 0.4210 - accuracy: 0.8018
Epoch 18/200
177/177 [==============================] - 1s 7ms/step - loss: 0.4191 - accuracy: 0.7989
Epoch 19/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4202 - accuracy: 0.8004
Epoch 20/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4199 - accuracy: 0.8059
Epoch 21/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4233 - accuracy: 0.7980
Epoch 22/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4215 - accuracy: 0.8007
Epoch 23/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4181 - accuracy: 0.8014
Epoch 24/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4180 - accuracy: 0.7982
Epoch 25/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4188 - accuracy: 0.8023
Epoch 26/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4198 - accuracy: 0.7995
Epoch 27/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4209 - accuracy: 0.8014
Epoch 28/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4188 - accuracy: 0.8020
Epoch 29/200
177/177 [==============================] - 1s 7ms/step - loss: 0.4200 - accuracy: 0.7995
Epoch 30/200
177/177 [==============================] - 2s 9ms/step - loss: 0.4192 - accuracy: 0.7998
Epoch 31/200
177/177 [==============================] - 1s 6ms/step - loss: 0.4198 - accuracy: 0.8007
Epoch 32/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4184 - accuracy: 0.8007
Epoch 33/200
177/177 [==============================] - 1s 4ms/step - loss: 0.4215 - accuracy: 0.7988
Epoch 34/200
177/177 [==============================] - 1s 4ms/step - loss: 0.4209 - accuracy: 0.7959
Epoch 35/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4198 - accuracy: 0.8027
Epoch 36/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4202 - accuracy: 0.7993
Epoch 37/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4218 - accuracy: 0.7965
Epoch 38/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4212 - accuracy: 0.8030
Epoch 39/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4184 - accuracy: 0.8021
Epoch 40/200
177/177 [==============================] - 1s 5ms/step - loss: 0.4187 - accuracy: 0.8032
Epoch 41/200
 43/177 [======>.......................] - ETA: 0s - loss: 0.4355 - accuracy: 0.7936