<a href="https://colab.research.google.com/github/dilaraesmer/Akbank-Python-Bootcamp/blob/main/TensorFlow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf

TensorFlow provides software engineers and data scientists with a tool to build, train and work with deep learning models to draw predictions from data.

https://builtin.com/data-science/tensorflow

In [3]:
# define the model 
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_shape=(8,), activation = 'relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Import Data

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv('Churn.csv')

In [6]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [8]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
6466,0,59,20.60,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2798,0,3,100.95,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4225,0,71,19.60,1,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6160,0,2,20.50,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4965,0,26,74.95,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
y_train.head()

6466    0
2798    1
4225    0
6160    0
4965    1
Name: Churn, dtype: int64

1- Import Dependencies

In [10]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

2- Build and Compile Model