<a href="https://colab.research.google.com/github/dilaraesmer/Akbank-Python-Bootcamp/blob/main/TensorFlow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import tensorflow as tf

TensorFlow provides software engineers and data scientists with a tool to build, train and work with deep learning models to draw predictions from data.

https://builtin.com/data-science/tensorflow

In [6]:
# define the model 
model = tf.keras.Sequential([
    tf.keras.layers.Dense(10, input_shape=(8,), activation = 'relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

# compile the model
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Import Data

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
df = pd.read_csv('Churn.csv')

In [12]:
X = pd.get_dummies(df.drop(['Churn', 'Customer ID'], axis=1))
y = df['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

In [14]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
4243,0,1,19.75,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3156,0,29,19.85,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4798,0,72,114.05,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3861,0,19,25.35,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2271,1,3,86.85,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
y_train.head()